:root {
    --countdown-bar-color: {{countdownBarColor}};
    --countdown-bar-height: {{countdownBarHeight}}px;
    --countdown-bar-width: {{countdownBarWidth}}px;
    --countdown-bar-tray-color: {{countdownBarTrayColor}};
    --countdown-bar-tray-opacity: {{countdownBarTrayOpacity}};
}

.container {
    position: relative;
    width: var(--countdown-bar-width);
    max-width: var(--countdown-bar-width);
}

.countdown-bar,
.countdown-bar-tray {
    position: absolute;
    border-radius: var(--countdown-bar-height);
}

.countdown-bar {
    background-color: var(--countdown-bar-color);
    width: 50%;
    max-width: var(--countdown-bar-width);
    height: var(--countdown-bar-height);
    transition: width 1s linear;
}

.countdown-bar-tray {
    background-color: var(--countdown-bar-tray-color);
    opacity: var(--countdown-bar-tray-opacity);

    width: var(--countdown-bar-width);
    max-width: var(--countdown-bar-width);
    height: var(--countdown-bar-height);

    filter: drop-shadow({{dropShadowOffsetX}}px {{dropShadowOffsetY}}px {{dropShadowBlurRadius}}px {{dropShadowColor}});
}